{
    "HttpPort": 8080,
    "Servers": [
        {
            "Name": "server1",
            "Host": "127.0.0.1",
            "Port": 32768
        },
        {
            "Name": "server2",
            "Host": "redis",
            "Port": 6379
        }
    ],
    "URLPrefix": "/" //you can assign a prefix for every URL request to Radish. i.e. '/api/v1/servers' can become '/radish/api/v1/servers'
}
