$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/_mixins.scss';
@import '~bootstrap-sass/assets/stylesheets/_bootstrap.scss';

.top-buffer {
    margin-top: 20px;
}

.break-word {
    word-wrap: break-word;
    word-break: break-all;
}

#logo {

    padding: 7px;

    img {
        width: 90px;
        height: 35px;
    }    
}

.keys-list {
    overflow-y: scroll;
}


table.hash-values,
table.set-values,
table.zset-values,
table.list-value {
    table-layout: fixed;
}

.hash-values {
    .key {
        width: 30%;
    }
    .value {
        width: 60%;
    }
}

.set-values .value {
    width: 90%;
}

.zset-values {
    .score {
        width: 30%;
    }
    .value {
        width: 60%;
    }
}

.list-values {
    .index {
        width: 20%;
    }
    .value {
        width: 70%;
    }
}



.hash-values .buttons,
.set-values .buttons,
.zset-values .buttons,
.list-value .buttons {
    width: 10%;
}

.add-new-value-btn {
    margin: 20px;
}